@charset "utf-8";

.iwc-container{
    background-color: #99999999;
    padding: 20px;
}

.iwc-container button{
    cursor: pointer;
}

.iwc-button{
    width:200px;
    font-size: 30px;
    line-height: 40px;
    border-radius: 10em;
    border-width: 0px;
    box-shadow: 4px 4px 0px #00000099;
}
.iwc-content-box{
    min-height: 300px;
}




.iwc-contents{
    display: none;
    border:1px solid red;
}
.iwc-contents .iwc-items{
    border:1px solid green;
}
.iwc-stage{
    display: none;
}


.iwc-container[data-debug="1"] :is(.iwc-contents,.iwc-stage){
    display: block;
}


.iwc-stage{
    border:1px solid blue;
    min-height: 200px;
}

.iwc-container[data-stage="ready"] .iwc-stage-ready,
.iwc-container[data-stage="round"] .iwc-stage-round,
.iwc-container[data-stage="loading"] .iwc-stage-loading,
.iwc-container[data-stage="vs"] .iwc-stage-vs,
.iwc-container[data-stage="unearned"] .iwc-stage-unearned,
.iwc-container[data-stage="result"] .iwc-stage-result

{
    display: block
}





.iwc-stage-ready-content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    
    font-size: 40px;
    font-weight: bold;
}



.iwc-stage-round{
    text-align: center;
}
.iwc-stage-round-text{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    
    font-size: 40px;
    font-weight: bold;    
}
.iwc-stage-round-text::before{
    
    content: attr(data-round)"강전";
}
.iwc-stage-round-text[data-round="2"]::before{
    content: "결승전";
}
.iwc-stage-round-text[data-round="4"]::before{
    content: "준결승";
}



.iwc-stage-loading-text{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    font-size: 40px;
    font-weight: bold;
}




.iwc-stage-result-content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    gap: 10px;

    font-size: 40px;
    font-weight: bold;
}










.iwc-stage-vs-items{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.iwc-stage-vs-item{
    flex:1 0 0;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    pointer-events: none;
}
.iwc-stage-vs-item .iwc-item{
    pointer-events: all;
}
.iwc-item[data-disabled]{
    pointer-events: none !important;
    filter: brightness(0.5);
}

@media (hover: hover){
    .iwc-stage-vs-item:hover .iwc-item{
        filter: brightness(1.2);
    }
}


.iwc-contents .iwc-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.iwc-contents .iwc-items .iwc-item{
    flex:0 0 auto;
    margin:0;
}



















/* 아이템 모양 */
.iwc-item{
    width:150px;
    /* aspect-ratio: 3/4; */
    margin:0 auto;
}
.iwc-item-content{
    /* width:clamp(150px,100%,40vw); */
    width:150px;
    aspect-ratio: 3/4;
    border:2px solid #000;
    border-radius: 10px;
    text-align: center;
    margin:0 auto;
    background-color: #aabbcc;


    font-size: 20px;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


/* 모션처리 */
.iwc-stage-vs-items .iwc-item-content{
    transition: all 0.5s ease;
    filter:opacity(0)
}
.iwc-stage-vs-items .iwc-stage-vs-items-text{
    font-size: clamp(10px,5vw,100px);
    font-weight: bold;
    margin:5px;
    color: rgb(136, 34, 34);
}
.iwc-container[data-motion="on"] .iwc-stage-vs-items  .iwc-item-content{
    filter:opacity(1)
}
.iwc-container[data-motion="on"]  .iwc-stage-vs-item-2 .iwc-item-content{
    transition-delay: 0.2s;
}

.iwc-container[data-vs-select="1"] .iwc-stage-vs-item-1 .iwc-item-content, 
.iwc-container[data-vs-select="2"] .iwc-stage-vs-item-2 .iwc-item-content{
    transition: all 1.5s ease;
    transform: scale(1.2);
    filter:opacity(0);
    transition-delay: 0s;
}
.iwc-container[data-vs-select="1"] .iwc-stage-vs-item-2 .iwc-item-content, 
.iwc-container[data-vs-select="2"] .iwc-stage-vs-item-1 .iwc-item-content{
    transition: all 0.5s ease;
    transform: scale(0);
    filter:opacity(0);
    transition-delay: 0s;
    transform-origin: center bottom;
}

:is(.iwc-container[data-vs-select="1"],.iwc-container[data-vs-select="2"]) .iwc-stage-vs-items-text{
    filter: opacity(0);
}



/* 부전승용 */

.iwc-container[data-unearned="on"]  .iwc-stage-vs-item-2::before{
    content: "부전승";
    /* text-decoration: line-through; */
    font-size: clamp(10px,8vw,60px);

    color: #999;
}





.iwc-stage-result .iwc-item-content{
    transition: all 1s ease;
    filter:opacity(0);
    transform: scale(0.5);
}
.iwc-container[data-motion="on"] .iwc-stage-result  .iwc-item-content{
    filter:opacity(1);
    transform: scale(1);
}
